/* global section */

* {
    background-color: #032152;
    font-family: "Indie Flower", cursive;
    color: #fff;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

/* container section */

.container {
    width: 70%;
    margin: auto;
}

.dice {
    display: inline-block;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 4px 0 #232931;
    font-size: 6rem;
    color: #4ecca3;
}

h2 {
    font-size: 2rem;
    color: #4fcca3;
}

img {
    width: 80%;
}

.rollDices {
    display: block;
    margin: 5% auto;
    background-color: #fff;
    border: solid;
    border-radius: 10%;
    color: black;
    font-weight: bolder;
    font-size: 1rem;
    transition: ease-in-out 0.2s;
}

/* hover section */

.rollDices:hover {
    font-size: 1.2rem;
    cursor: pointer;
}

.contact-icon:hover {
    font-size: 1.8rem;
    cursor: pointer;
}

/* active section */

.rollDices:active, .contact-icon:active {
    transform: translateY(7px);
}

/* footer section */

footer {
    margin-top: 5%;
    text-align: center;
}

.contact-link {
    padding: 5px;
    display: inline-block;
    margin: 0 10%;
}

.contact-icon {
    transition: ease-in-out 0.2s;
    font-size: 1.5rem;
}

/* mobile */

@media (max-width: 768px){
    h1 {
        font-size: 3.8rem;
    }
    .dice {
        width: 50%;
    }
}